.cs-red-asterisk {
	background-image: url(./assets/tiles/red_asterisk.svg);
}

.cs-red-cross {
	background-image: url(./assets/tiles/red_cross.svg);
}

.cs-red-star {
	background-image: url(./assets/tiles/red_star.svg);
}

.cs-red-circle {
	background-image: url(./assets/tiles/red_circle.svg);
}

.cs-red-square {
	background-image: url(./assets/tiles/red_square.svg);
}

.cs-red-plus {
	background-image: url(./assets/tiles/red_plus.svg);
}

.cs-red-diamond {
	background-image: url(./assets/tiles/red_diamond.svg);
}

.cs-orange-asterisk {
	background-image: url(./assets/tiles/orange_asterisk.svg);
}

.cs-orange-cross {
	background-image: url(./assets/tiles/orange_cross.svg);
}

.cs-orange-star {
	background-image: url(./assets/tiles/orange_star.svg);
}

.cs-orange-circle {
	background-image: url(./assets/tiles/orange_circle.svg);
}

.cs-orange-square {
	background-image: url(./assets/tiles/orange_square.svg);
}

.cs-orange-plus {
	background-image: url(./assets/tiles/orange_plus.svg);
}

.cs-orange-diamond {
	background-image: url(./assets/tiles/orange_diamond.svg);
}

.cs-yellow-asterisk {
	background-image: url(./assets/tiles/yellow_asterisk.svg);
}

.cs-yellow-cross {
	background-image: url(./assets/tiles/yellow_cross.svg);
}

.cs-yellow-star {
	background-image: url(./assets/tiles/yellow_star.svg);
}

.cs-yellow-circle {
	background-image: url(./assets/tiles/yellow_circle.svg);
}

.cs-yellow-square {
	background-image: url(./assets/tiles/yellow_square.svg);
}

.cs-yellow-plus {
	background-image: url(./assets/tiles/yellow_plus.svg);
}

.cs-yellow-diamond {
	background-image: url(./assets/tiles/yellow_diamond.svg);
}

.cs-green-asterisk {
	background-image: url(./assets/tiles/green_asterisk.svg);
}

.cs-green-cross {
	background-image: url(./assets/tiles/green_cross.svg);
}

.cs-green-star {
	background-image: url(./assets/tiles/green_star.svg);
}

.cs-green-circle {
	background-image: url(./assets/tiles/green_circle.svg);
}

.cs-green-square {
	background-image: url(./assets/tiles/green_square.svg);
}

.cs-green-plus {
	background-image: url(./assets/tiles/green_plus.svg);
}

.cs-green-diamond {
	background-image: url(./assets/tiles/green_diamond.svg);
}

.cs-blue-asterisk {
	background-image: url(./assets/tiles/blue_asterisk.svg);
}

.cs-blue-cross {
	background-image: url(./assets/tiles/blue_cross.svg);
}

.cs-blue-star {
	background-image: url(./assets/tiles/blue_star.svg);
}

.cs-blue-circle {
	background-image: url(./assets/tiles/blue_circle.svg);
}

.cs-blue-square {
	background-image: url(./assets/tiles/blue_square.svg);
}

.cs-blue-plus {
	background-image: url(./assets/tiles/blue_plus.svg);
}

.cs-blue-diamond {
	background-image: url(./assets/tiles/blue_diamond.svg);
}

.cs-purple-asterisk {
	background-image: url(./assets/tiles/purple_asterisk.svg);
}

.cs-purple-cross {
	background-image: url(./assets/tiles/purple_cross.svg);
}

.cs-purple-star {
	background-image: url(./assets/tiles/purple_star.svg);
}

.cs-purple-circle {
	background-image: url(./assets/tiles/purple_circle.svg);
}

.cs-purple-square {
	background-image: url(./assets/tiles/purple_square.svg);
}

.cs-purple-plus {
	background-image: url(./assets/tiles/purple_plus.svg);
}

.cs-purple-diamond {
	background-image: url(./assets/tiles/purple_diamond.svg);
}

