@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700;800&display=swap");

:root {
  --size: 40px;
  --ntiles: 41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sora;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#board {
  position: relative;
  overflow: auto;
  width: 100%;
  height: calc(100% - var(--size) * 1.5);
}

#board-tiles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--ntiles), 1fr);
  grid-template-rows: repeat(var(--ntiles), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#hand {
  position: relative;
  width: 100%;
  height: calc(var(--size) * 1.5);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 10px -1px inset;
}

.tile,
.moving-tile {
  width: var(--size);
  height: var(--size);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#hand-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.moving-tile {
  position: absolute;
  opacity: 0.5;
  background-color: black;
}

.tile .slot,
.moving-tile .slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile.empty .slot {
  width: calc(100% - (var(--size) / 10));
  height: calc(100% - (var(--size) / 10));
  border-radius: calc(var(--size) / 5);
}

.tile:not(.empty) .slot {
  background-color: black;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#tilebag {
  position: relative;
  margin-left: 10px;
  --lightness: 30%;
  border-radius: 10px;
  background-color: hsl(38, 23%, 66%);
}

.tile svg,
.moving-tile svg {
  width: 70%;
  height: 70%;
}

/* #hand .tile.empty:nth-child(2n):not(.hover) .slot {
  background-color: hsl(210, 40%, 95%);
}
#hand .tile.empty:nth-child(2n + 1):not(.hover) .slot {
  background-color: hsl(210, 40%, 90%);
}

#hand .tile.empty.hover .slot {
  background-color: hsl(210, 100%, 70%);
}

#board-tiles .tile.empty:nth-child(2n):not(.hover) .slot {
  background-color: hsl(150, 10%, 95%);
}
#board-tiles .tile.empty:nth-child(2n + 1):not(.hover) .slot {
  background-color: hsl(150, 10%, 90%);
}

#board .tile.empty.hover .slot {
  background-color: hsl(210, 10%, 50%);
} */

.tile.empty {
  --x: 80%;
  background-size: var(--x) var(--x);
  background-position: center;
  background-repeat: no-repeat;
}

#board-tiles .tile.empty:nth-child(2n):not(.hover) {
  background-image: url(./assets/slots/board_slot_light.svg);
}

#board-tiles .tile.empty:nth-child(2n + 1):not(.hover) {
  background-image: url(./assets/slots/board_slot_dark.svg);
}

#hand-tiles .tile.empty:nth-child(2n):not(.hover) {
  background-image: url(./assets/slots/hand_slot_light.svg);
}

#hand-tiles .tile.empty:nth-child(2n + 1):not(.hover) {
  background-image: url(./assets/slots/hand_slot_dark.svg);
}

#hand .tile.empty.hover {
  background-image: url(./assets/slots/hand_slot_hover.svg);
}

#board .tile.empty.hover {
  background-image: url(./assets/slots/board_slot_hover.svg);
}

#toolbar {
  width: 100%;
  /* height: 40px; */
  height: calc(var(--size));
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;

  z-index: 2;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 10px -1px inset;
}

#toolbar > div {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  transition: background-color 0.3s ease-in-out;
}

#toolbar > div:active {
  background-color: rgba(0, 0, 0, 0.05);
}

#toolbar svg {
  height: 70%;
}

.moving-tile.fromBag {
  background-image: url(./assets/slots/blank.svg);
}

.tile:not(.empty),
.moving-tile:not(.empty) {
  background-size: calc(100% - 2px) calc(100% - 2px);
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(./assets/red_cross.svg); */
}

#tile-count {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: hsl(38, 23%, 66%);
  font-weight: bold;
  font-size: calc(var(--size) / 3.5);
}

#connection svg {
  transition: fill 0.3s ease-in-out;
}
